{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
</head>
<body>
    
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card light-blue darken-4">
                <img src="{% static 'img/Logo.jpg' %}" style="width: 100px; margin: 20px; margin-bottom: 0px;">
                <div class="card-content white-text">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>